.avatar {float:left;margin:5px 5px 0 0;}
.avatar img {width:24px;height:24px;}
.content {overflow:hidden;display:table-cell;}
.tweet, .userinfo {border-bottom:1px solid #aaaaaa;padding:10px 0px;}

a{color:#3B5998;font-weight:bold;}
.tag{color:#5ca363;font-weight:bold;}
textarea {width:95%;}
small,small a{color:gray;}
body{background-color:#F7F7F7;max-width:480px;margin:auto;padding:0 5px;}

#input{text-align:center;}

.nav {overflow:auto;margin:0;padding:0;text-align:center;background:#c6e6ff;}
.nav li{list-style:none;display:inline;line-height:3em;border-right:1px solid #fff;}
.nav a{padding:0.8em 0.4em;}
